
    <li id="sidebar-request-{{id}}" class="sidebar-collection-request sidebar-request clearfix">
        <div class="request-actions">
            <a  data-id="{{id}}" class="request-actions-edit">
                <img src="img/edit.png" style="vertical-align: middle;"/>
            </a>
            <a  data-id="{{id}}" class="request-actions-delete">
                <img src="img/delete.png" style="vertical-align: middle;"/>
            </a>
        </div>
        <div class="request request-actions-load" data-id="{{id}}">
            <a ><span class="label label-method-{{method}}">{{method}}</span>
                <span class="request-name">
                {{{name}}}
                </span>
            </a>
        </div>
    </li>