<tr>
    <td>
        <a  class="environment-action-edit" data-id="{{id}}">{{name}}</a>
    </td>
    <td style="width: 70px;">
        <a
           rel="tooltip" data-original-title="Duplicate environment"
           data-placement="bottom"
           class="environment-action-duplicate" data-id="{{id}}">
           <img src="img/copy.png"
                style="vertical-align: middle; width: 20px; height: 20px;"/></a>
        <a
           rel="tooltip" data-original-title="Download environment"
           data-placement="bottom"
           class="environment-action-download" data-id="{{id}}">
            <img src="img/download.png"
                 style="vertical-align: middle; width: 20px; height: 20px;"/></a>
        <a
           data-name="{{name}}"
           rel="tooltip" data-original-title="Delete environment" data-placement="bottom"
           class="environment-action-delete" data-id="{{id}}">
            <img src="img/delete.png" style="vertical-align: middle; width: 20px; height: 20px;"/></a>
    </td>
</tr>
