<li id="sidebar-request-{{id}}" class="sidebar-history-request sidebar-request clearfix">
    <div class="request-actions">
        <a  data-request-id="{{id}}" class="request-actions-delete">
            <img src="img/delete.png"/>
        </a>
    </div>
    <div class="request" data-request-id="{{id}}">
        <a  data-request-id="{{id}}">
            <span
            class="label label-method-{{method}}">{{method}}</span>
            <span class="request-name">
                {{{url}}}
            </span>
        </a>
    </div>
</li>