    <li id="folder-{{id}}" class="folder clearfix" data-id="{{id}}">
        <div class="folder-head">
            <div class="folder-head-actions">
                <a
                   data-placement="bottom"
                   rel="tooltip" data-original-title="Edit"
                   ref="#modal-edit-folder" data-toggle="modal"
                   class="folder-actions-edit" data-id="{{id}}" data-name="{{name}}">
                    <img src="img/edit.png" style="vertical-align: middle;"/></a>            
                <a rel="tooltip" data-original-title="Delete folder"
                   data-name="{{name}}"
                   data-placement="bottom"
                   href="#modal-delete-folder" data-toggle="modal"
                   class="folder-actions-delete" data-id="{{id}}">
                    <img src="img/delete.png" style="vertical-align: middle;"/></a>
            </div>
            <div class="folder-head-name" data-id="{{id}}">
                <span class="folder-head-dt">
                    <img src="img/dt.png"/>
                </span>
                <span class="name">
                  {{name}}
                </span>
            </div>
        </div>
        <ul id="folder-requests-{{id}}" class="folder-requests" data-id="{{id}}">
            {{#each requests}}
                {{> item_collection_sidebar_request}}
            {{/each}}
        </ul>
    </li>