<div class="response-code" data-placement="bottom" data-original-title="{{code}} {{name}}" data-content="{{detail}}"
     rel="popover"><span class="label">Status</span>
    <div class="data">{{code}} {{name}}</div>
</div>
