<script id="item-environment-list" type="text/x-handlebars-template">
    <tr>
        <td>
            <a href="javascript:void(0);" class="environment-action-edit" data-id="{{id}}">{{name}}</a>
        </td>
        <td style="width: 50px;">
            <a href="javascript:void(0);"
               rel="tooltip" data-original-title="Download environment"
               data-placement="bottom"
               class="environment-action-download" data-id="{{id}}">
                <img src="img/download.png"
                     style="vertical-align: middle; width: 20px; height: 20px;"/></a>
            <a href="javascript:void(0);"
               data-name="{{name}}"
               rel="tooltip" data-original-title="Delete environment" data-placement="bottom"
               class="environment-action-delete" data-id="{{id}}">
                <img src="img/delete.png" style="vertical-align: middle; width: 20px; height: 20px;"/></a>
        </td>
    </tr>
</script>