<script id="item-response-cookie" type="text/x-handlebars-template">
    <tr>
        <td>{{name}}</td>
        <td>{{value}}</td>
        <td>{{domain}}</td>
        <td>{{path}}</td>
        <td>{{expires}}</td>
        <td>{{httpOnly}}</td>
        <td>{{secure}}</td>
    </tr>
</script>